<div *ngIf="taskList.length>0; else addTask ">
  <p [ngStyle]="{color: getColor()}">Tasks to do: {{taskList.length}}</p>
  <ul>
    <li *ngFor="let task of taskList; let i = index; let odd = odd" [ngClass]="{'odd-li': odd===true, 'last-li': taskList.length === 1}">{{task}}
      <button type="button" class="btn btn-success" (click)="onDone(task)">Done</button>
      <button type="button" class="btn btn-danger" (click)="onRemove(task)">Remove</button>
    </li>
  </ul>
  <h4> {{taskList.length}} tasks left!</h4>
</div>

<ng-template #addTask>Add a task !!</ng-template>
